
@*<div class="my-container" style="padding:1em">
    <p>Select departments</p>
</div>
<div class="content">
    <p class="ui very padded">
    <p>Departments</p>
    <div class="ui fluid search selection dropdown clearable multiple" id="selectDepartment" data-content="Please select atleast a department..." data-position="bottom center">
        <input type="hidden" name="departments" value="" />
        <i class="dropdown icon"></i>
        <i class="remove icon" id="removeDepartmentDropdown" data-content="Clear all selected departments" data-position="left center"></i>
        <span class="default text">Select Department</span>
        <div class="menu transition hidden" tabindex="-1" id="multipleSelDepartments">
        </div>
    </div>
</div>*@